In [35]:
import gc
import numpy as np
import pandas as pd


census = pd.read_csv('./data/census_starter.csv')
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
sub = pd.read_csv('./data/sample_submission.csv')

train['istest'] = 0
test['istest'] = 1
raw = pd.concat((train, test)).sort_values(['cfips','row_id']).reset_index(drop=True)


raw['first_day_of_month'] = pd.to_datetime(raw["first_day_of_month"])
raw['county'] = raw.groupby('cfips')['county'].ffill()
raw['state'] = raw.groupby('cfips')['state'].ffill()
raw["year"] = raw["first_day_of_month"].dt.year
raw["month"] = raw["first_day_of_month"].dt.month
raw["dcount"] = raw.groupby(['cfips'])['row_id'].cumcount()
raw['county_i'] = (raw['county'] + raw['state']).factorize()[0]
raw['state_i'] = raw['state'].factorize()[0]

    x1 -> x2/x1
    x2 -> x3/x2
    x3 -> x4/x3  
    x4 -> x5/x4
    x5 -> --/x5
    --

In [6]:
raw['microbusiness_density'].head().shift(-1)

0    2.884870
1    3.055843
2    2.993233
3    2.993233
4         NaN
Name: microbusiness_density, dtype: float64

In [7]:
def build_features(raw, target='microbusiness_density', target_act='active_tmp', lags = 6):
    feats = []
    for lag in range(1, lags):
        raw[f'mbd_lag_{lag}'] = raw.groupby('cfips')[target].shift(lag)
        raw[f'act_lag_{lag}'] = raw.groupby('cfips')[target_act].diff(lag)
        feats.append(f'mbd_lag_{lag}')
        feats.append(f'act_lag_{lag}')
        
    lag = 1
    for window in [2, 4, 6]:
        raw[f'mbd_rollmea{window}_{lag}'] = raw.groupby('cfips')[f'mbd_lag_{lag}'].transform(lambda s: s.rolling(window, min_periods=1).sum())        
        #raw[f'mbd_rollmea{window}_{lag}'] = raw[f'mbd_lag_{lag}'] - raw[f'mbd_rollmea{window}_{lag}']
        feats.append(f'mbd_rollmea{window}_{lag}')
        
    return raw, feats

In [39]:
sample = pd.concat((
    train[train['cfips'] == 1001].copy() , 
    test[test['cfips'] == 1001].copy()
))
sample = raw[raw['cfips'] == 1001].copy() 

sample = sample[['cfips','dcount','first_day_of_month','microbusiness_density','active']].reset_index(drop=True)

target = 'microbusiness_density'
lag = 1
sample[f'lag_{lag}'] = sample[target].shift(lag)

window = 2
sample[f'roll_{window}_{lag}'] = sample[f'lag_{lag}'].transform(lambda s: s.rolling(window, min_periods=1).sum())        
sample

,cfips,dcount,first_day_of_month,microbusiness_density,active,lag_1,roll_2_1
0,1001,0,2019-08-01,3.007682,1249.0,NaN,NaN
1,1001,1,2019-09-01,2.884870,1198.0,3.007682,3.007682
2,1001,2,2019-10-01,3.055843,1269.0,2.884870,5.892552
3,1001,3,2019-11-01,2.993233,1243.0,3.055843,5.940713
4,1001,4,2019-12-01,2.993233,1243.0,2.993233,6.049076
5,1001,5,2020-01-01,2.969090,1242.0,2.993233,5.986466
6,1001,6,2020-02-01,2.909326,1217.0,2.969090,5.962323
7,1001,7,2020-03-01,2.933231,1227.0,2.909326,5.878416
8,1001,8,2020-04-01,3.000167,1255.0,2.933231,5.842557
9,1001,9,2020-05-01,3.004948,1257.0,3.000167,5.933399
10,1001,10,2020-06-01,3.019292,1263.0,3.004948,6.005116
11,1001,11,2020-07-01,3.083837,1290.0,3.019292,6.024240
12,1001,12,2020-08-01,3.174679,1328.0,3.083837,6.103129
13,1001,13,2020-09-01,3.205756,1341.0,3.174679,6.258516
14,1001,14,2020-10-01,3.193804,1336.0,3.205756,6.380435
15,1001,15,2020-11-01,3.038416,1271.0,3.193804,6.399560
16,1001,16,2020-12-01,3.002558,1256.0,3.038416,6.232220
17,1001,17,2021-01-01,2.947244,1243.0,3.002558,6.040974
18,1001,18,2021-02-01,3.106106,1310.0,2.947244,5.949802
19,1001,19,2021-03-01,3.144043,1326.0,3.106106,6.053349
20,1001,20,2021-04-01,3.224659,1360.0,3.144043,6.250148
21,1001,21,2021-05-01,3.227030,1361.0,3.224659,6.368702
22,1001,22,2021-06-01,3.222288,1359.0,3.227030,6.451690
23,1001,23,2021-07-01,3.210433,1354.0,3.222288,6.449318
24,1001,24,2021-08-01,3.219917,1358.0,3.210433,6.432721
25,1001,25,2021-09-01,3.186722,1344.0,3.219917,6.430350
26,1001,26,2021-10-01,3.203320,1351.0,3.186722,6.406639
27,1001,27,2021-11-01,3.200948,1350.0,3.203320,6.390042
28,1001,28,2021-12-01,3.286307,1386.0,3.200948,6.404268
29,1001,29,2022-01-01,3.296781,1401.0,3.286307,6.487256
30,1001,30,2022-02-01,3.334431,1417.0,3.296781,6.583088
31,1001,31,2022-03-01,3.336785,1418.0,3.334431,6.631212
32,1001,32,2022-04-01,3.372082,1433.0,3.336785,6.671216
33,1001,33,2022-05-01,3.313253,1408.0,3.372082,6.708867
34,1001,34,2022-06-01,3.346197,1422.0,3.313253,6.685335
35,1001,35,2022-07-01,3.437971,1461.0,3.346197,6.659450
36,1001,36,2022-08-01,3.423852,1455.0,3.437971,6.784168
37,1001,37,2022-09-01,3.442677,1463.0,3.423852,6.861822
38,1001,38,2022-10-01,3.463856,1472.0,3.442677,6.866529
39,1001,39,2022-11-01,NaN,NaN,3.463856,6.906533
40,1001,40,2022-12-01,NaN,NaN,NaN,3.463856
41,1001,41,2023-01-01,NaN,NaN,NaN,NaN
42,1001,42,2023-02-01,NaN,NaN,NaN,NaN
43,1001,43,2023-03-01,NaN,NaN,NaN,NaN
44,1001,44,2023-04-01,NaN,NaN,NaN,NaN
45,1001,45,2023-05-01,NaN,NaN,NaN,NaN
46,1001,46,2023-06-01,NaN,NaN,NaN,NaN

In [52]:
sample['lastactive'] = sample.groupby('cfips')['active'].transform('last')

dt = sample.loc[sample.dcount==28].groupby('cfips')['microbusiness_density'].agg('last')
sample['lasttarget'] = sample['cfips'].map(dt)

# raw['lastactive'].clip(0, 8000).hist(bins=30)

In [61]:
test['first_day_of_month'].unique()

array(['2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01',
       '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01'],
      dtype=object)

In [58]:
# sample

ACT_THR = 1.8
ABS_THR = 1.00
sample['ypred_last'] = np.nan
sample['ypred'] = np.nan
sample['k'] = 1.
VAL = []
BEST_ROUNDS = []
for TS in range(29, 38):
    print(TS)
    # train_indices = (sample.dcount  < TS) & (sample.dcount >= 1) & (sample.lastactive>ACT_THR)  & (sample.lasttarget>ABS_THR) 
    # valid_indices = (sample.dcount == TS)
    # print(train_indices)

29
30
31
32
33
34
35
36
37